<div class="auth-wrapper">
  <div class="auth-card">
    <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h2 class="auth-title">Login</h2>
      <p class="auth-subtitle">Login to manage your movie collection 🎬</p>

      <!-- Email -->
      <div class="form-field">
        <label for="email">Email</label>

        <input
          appInputError
          type="email"
          id="email"
          placeholder="john.doe@gmail.com"
          formControlName="email"
        />

        @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
          <p class="error">Email is not valid!</p>
        }
      </div>

      <!-- Password -->
      <div class="form-field">
        <label for="password">Password</label>

        <input
          appInputError
          type="password"
          id="password"
          placeholder="******"
          formControlName="password"
        />

        @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
          <p class="error">Password must be at least 5 characters!</p>
        }
      </div>

      @if (loginForm.invalid && loginForm.touched) {
        <p class="error form-error">You can't continue until you provide valid data</p>
      }

      <button type="submit" class="primary-btn" [disabled]="loginForm.invalid || isLoading">
        {{ isLoading ? 'Logging in...' : 'Login' }}
      </button>

      <p class="switch-text">
        Don't have an account?
        <a routerLink="/register">Register</a>
      </p>
    </form>
  </div>
</div>
