.movies-page {

  padding: 40px 60px;

  max-width: 1400px;

  margin: 0 auto;
}

.movies-header {

  margin-bottom: 30px;
}

/* FIX — по-тъмен текст */

.movies-header h1 {

  font-size: 36px;

  font-weight: 800;

  color: white; /* почти черно */

  margin-bottom: 8px;
}

.movies-header p {

  color: white; /* по-тъмен gray */

  font-size: 17px;

  font-weight: 500;
}